.run-result-charts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.run-result-charts:first-child{
    margin-top: 20px;
}

.chart-image-container{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.chart-image{
    width: 75%;
    height: auto;
}

.chart-description{
    padding: 30px;
    font-size: 24px;
    // text-align: justify;
    line-height: 44px;
}