<div class="main">
  <mat-toolbar class="masthead">
    <button mat-icon-button class="example-icon" aria-label="navigation" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: 1 1 auto; text-align: center;">Souptik Banerjee Developer Blog</span>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>