.main{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
}

.masthead{
    flex: 0 0 auto;
}

mat-sidenav{
    top: 64px !important;
}

.example-container{
    height: 100%;
    overflow-y: hidden;
}

.content-main{
    padding: 24px;
    // height: 100%;
    flex: 1 1 auto;
}